<!DOCTYPE html>

<html>

<head>
	<meta charset="UTF-8">
	<title>Announcements</title>
</head>

<body>

<h1>Announcements</h1>	

<p>
	This is a test harness.
</p>

<table class="miniboard">

	{% for rowNum in rows %}
		<tr style="{% cycle '' '' '' '' '' '' '' '' '' '' '' 'border-bottom: 20px solid black;' %}"  >
			{% for colNum in cols %}
				<td id="c_{{ rowNum }}_{{ colNum }}">&nbsp;</td>
			{% endfor %}
		</tr>
	{% endfor %}

</table>

<table>
	<tr>
		<td style="width: 50%; vertical-align: top; text-align: center;">
			<textarea id="bbScriptCode" style="width: 90%; height: 60%; font-family: Monospace;"></textarea>
			<br>
			<button onclick="runCode()">Run</button>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			<button onclick="clearBoard()">Clear Board</button>
		</td>
		<td style="font-family: Monospace; width: 50%; vertical-align: top;">
			<p>
				<b>CLEAR BOARD</b>
				<br>
				Clears off all the values on the board. Does not affect the
				color or cursor position.
			</p>
			<p>
				<b>FILL BOARD [character]</b>
				<br>
				Fills the board with the <i>character</i>, or 'X' if omitted
				using the current color.
			</p>
			<p>
				<b>MOVE POS [row [,col]]</b>
				<br>
				Moves the current cursor position by <i>row</i> and <i>col</i>.
			</p>
			<p>
				<b>PAUSE [seconds]</b>
				<br>
				Pauses for <i>seconds</i> before executing the next command.
			</p>
			<p>
				<b>PRINT [your text]</b>
				<br>
				Prints out <i>your text</i> with the current color at the
				current cursor position. The cursor is always left at the next
				position after it's done printing.
			</p>
			<p>
				<b>RESET</b>
				<br />
				Clears out the board and resets the color and cursor position.
			</p>
			<p>
				<b>SET COLOR [color]</b>
				<br />
				Set the current color to <i>color</i>.
			</p>
			<p>
				<b>SET POS [row [,col]]</b>
				<br>
				Sets the current cursor position to <i>row</i> and <i>col</i>.
			</p>
		</td>
	</tr>
</table>

<script>
$(document).ready(function() {
	var row = 0;
	var col = 0;

	while (col < 192)
	{
		$('#c_' + row++ + '_' + col++).css('color', 'green').html('A');

		if (row == 24) { row = 0; }
	}
});

function clearBoard()
{
	$('td[id^="c_"]').html('&nbsp;');
}

var color = 'red';
var curRow = 0;
var curCol = 0;

function runCode()
{
	reset();

	var bbScript = $('#bbScriptCode').val().split('\n');

	execCommand(bbScript, 0, -1, 1, 0);
}


function execCommand(bbScript, runIndex, returnToIndex, runCount, timeout)
{
	timeout = 0;

	if (runIndex >= bbScript.length)
	{
		return 0;
	}

	var thisLine = bbScript[runIndex];

	if (thisLine.indexOf('LOOP ') == 0)
	{
		if (bbScript.indexOf('END LOOP', runIndex) == -1)
		{
			alert("We couldn't find an end to your loop on line " + (runIndex + 1));
			return 1;
		}

		returnToIndex = runIndex++;
		runCount = parseInt(thisLine.substring(5, thisLine.length));
	}
	else if (thisLine == 'END LOOP')
	{
		runCount--;
	}
	else if (thisLine.indexOf('PAUSE ') == 0)
	{
		timeout = parseInt(thisLine.substring(6, thisLine.length)) * 1000;
	}
	else
	{
		if (thisLine == '')
		{
			// Ignore blank lines
		}
		else if (thisLine == 'CLEAR BOARD')
		{
			clearBoard();
		}
		else if (thisLine == 'RESET')
		{
			reset();
		}
		else if (thisLine.indexOf('FILL BOARD') == 0)
		{
			var character = '';

			if (thisLine.length > 10)
			{
				character = thisLine.substring(11, 12).replace(/^\s+|\s+$/g, "");
			}

			if (character == '')
			{
				character = 'X';
			}

			$('td[id^="c_"]').css('color', color).html(character);
		}
		else if (thisLine.indexOf('SET COLOR ') == 0)
		{
			color = thisLine.substring(10, thisLine.length);
		}
		else if (thisLine.indexOf('PRINT ') == 0)
		{
			var thisString = thisLine.substring(6, thisLine.length).split('');

			for (var j in thisString)
			{
				$('#c_' + curRow + '_' + (curCol++)).html(thisString[j]).css('color', color);
			}
		}
		else if (thisLine.indexOf('SET POS ') == 0)
		{
			if (thisLine.indexOf(',', 8) > -1)
			{
				var newPos = thisLine.substring(8, thisLine.length).split(',');

				if (newPos.length >= 0)
				{
					curRow = newPos[0];
	
					if (newPos.length > 0)
					{
						curCol = newPos[1];
					}
				}
			}
			else
			{
				curRow = thisLine.substring(8, thisLine.length);
			}
		}
		else if (thisLine.indexOf('MOVE POS ') == 0)
		{
			if (thisLine.indexOf(',', 9) > -1)
			{
				var newPos = thisLine.substring(9, thisLine.length).split(',');

				if (newPos.length >= 0)
				{
					curRow = curRow + parseInt(newPos[0]);
	
					if (newPos.length > 0)
					{
						curCol = curCol + parseInt(newPos[1]);
					}
				}
			}
			else
			{
				curRow = curRow + parseInt(thisLine.substring(9, thisLine.length));
			}
		}
		else
		{
			alert("Unknown command: " + thisLine);
			return 1;
		}
	}

	if (runCount > 1)
	{
		// Return to the begining of this loop...
		setTimeout(function() { execCommand(bbScript, returnToIndex, returnToIndex, runCount - 1, 0); }, timeout);
	}
	else if (runCount == 1)
	{
		setTimeout(function() { execCommand(bbScript, runIndex + 1, -1, 1, 0); }, timeout);
	}

	return 0;
}

function reset()
{
	clearBoard();
	color = 'red';
	curRow = 0;
	curCol = 0;
}

</script>

</body>

</html>